<html>
	<body>
		<table border="1px">
  <tr>
    <th>Id</th>
    <th>Produto</th>
    <th>Autor</th> 
  </tr>
  <% for(var i=0;i<livros.length;i++) {%>
    	<tr>
        <td><%=livros[i].id %></td>
        <td><%=livros[i].nome %></td>
        <td><%=livros[i].autor %></td> 
    </tr>
   <%}%>
</table>
	</body>
</html>




